
.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: #FBF6F0;
  border-bottom: 1px solid #ccc;
  position: sticky; 
  top: 0;
  z-index: 100; 
}

.logo img {
  max-width: 100%;
  max-height: 70px;
  width: auto;
}

.navList {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin-left: 100px;
  padding: 0;
}

.navList li {
  display: flex;
  align-items: center;
  color: #4B626C;
  position: relative;
  padding: 0 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 25px;
}


.navList li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -15px;
  height: 100%;
  width: 1px;
  background-color: #4B626C;
}

.navList a {
  text-decoration: none;
  color: #4B626C;
  font-weight: 500;
  transition: color 0.2s ease;
  padding-bottom: 3px; /* linha inferior */
}

.navList a:hover {
  color: #8a2be2;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #8a2be2;
  transition: width 0.3s ease;
  
}

.navLink:hover::after,
.navLink.active::after {
  width: 100%;
}


.searchBar {
  display: flex;
  align-items: center;
  background-color: #d6d6d6;
  border-radius: 16px;
  padding: 0.2rem 0.6rem;
}

.searchBar input {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

.searchBar button {
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #4B626C;
  z-index: 1001; 
}

@media (max-width: 1245px) {
  .navList li {
    font-size: 20px; 
  }

  .navList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px 0;
    margin-left: 30px;
  }

  .searchBar input {
    font-size: 12px;
    width: 100px;
  }
}


/* ########## RESPONSIVIDADE ########## */

@media (max-width: 940px) {
  .navList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    padding: 6rem 2rem 2rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #FBF6F0;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    /* breve animação */
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .navList.menuOpen {
    transform: translateX(0);
  }
  
  .navList li:not(:last-child)::after {
    display: none;
  }
  
  .searchBar {
    display: none; 
  }

  .hamburger {
    display: block;
  }
}