.authContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.authFormSection {
  background-color: #FBF8F4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 2rem;
}

.authImageSection {
  width: 60%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authImageSection img {
  border: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
