
body{
  background-color: #FBF8F4;
  overflow: hidden;
}

.authContainer {
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.authFormSection {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 33%;
}


.authImageSection {
  background-color: aqua;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 67%;
}

.authImageSection img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}