/* HomePage.module.css */

.homeLayout {
  display: flex;
  gap: 2rem; /* Cria um espaço entre as duas colunas */
}

.sliderColumn {
  width: 70%; /* Define que o slider ocupará 70% da largura */
  flex-shrink: 0; /* Impede que a coluna do slider encolha */
}

.sidebarColumn {
  width: 30%; /* Define que a coluna lateral ocupará 30% */
}