.mainContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  width: 100%;
  max-width: 400px;
  margin-bottom: 250px;
}

.title {
  font-size: 64px;
  font-weight: 500;
  color: #4B626C;
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 80%;
}

.submitButton {
  align-self: flex-end;
  background: none;
  /* margin-left: 320px; */
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #4B626C;
  transition: transform 0.2s ease;
}

.submitButton:hover {
  transform: scale(1.1);
}


.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  margin-top: 380px;
  padding-left: 20px;
}

.links a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #4B626C;
  text-decoration: none;
  transition: color 0.2s ease;
  
}

.links a:hover {
  color: #000;
}
