
.pageContainer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #4B626C;
  position: relative;
}

.sectionTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #FBF8F3;
  padding-left: 10px;
  font-weight: 300;
}

.card {
  padding: 0 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden; 
  border-radius: 6px; 
}

.card img {
  width: 100%;
  aspect-ratio: 2 / 3; 
  object-fit: cover; 
  display: block; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.2s ease-in-out;
  border-radius: 2%;
}

.card:hover img {
  transform: scale(1.05);
}

.cardPrice {
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: opacity 0.2s ease;
}


/* -- Estilos para as setas -- */
:global(.slick-arrow) {
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 1;
  width: 30px;
  height: 30px;
}
:global(.slick-arrow:hover) {
  background-color: rgb(0, 0, 0) !important;
}

:global(.slick-arrow::before) {
  color: #ffffff !important;
}